.section-profile {
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: $text-light;

    & .row {
        position: relative;
        background: rgba($secondary, 0.8);
        padding: 8rem;

        @include respond(tab-port) {
            padding: 4rem 3rem;
        }
    }
}
