.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        border: none;
        padding: 1.5rem 3rem;
        border-radius: 100px;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.2s;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1.5rem 4rem rgba($color: $black, $alpha: 0.2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 1rem 2rem rgba($color: $black, $alpha: 0.2);
    }

    &--primary {
        background-color: $primary;
        color: $text-light;

        &:hover {
            background-color: lighten($primary, 5%);
        }

        &:active,
        &:focus {
            background-color: darken($primary, 5%);
        }
    }

    &--warning {
        background-color: $warning;
        color: $text-light;
        margin-top: 1.5rem;

        &:hover {
            background-color: lighten($warning, 5%);
        }

        &:active,
        &:focus {
            background-color: darken($warning, 5%);
        }
    }
}
