.forms {
    &--login,
    &--sign-up {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8rem;
        color: $text-dark;
        width: 100%;
        height: 100%;

        @include respond(tab-port) {
            padding: 3rem;
        }
    }
}

.form {
    &__error {
        width: 100%;
        color: $danger;
        font-size: 1.4rem;
        line-height: 1;
        padding: 0.5rem;
        border: 1px solid $danger;
        border-radius: 6px;
        text-align: center;
        background-color: rgba($danger, $alpha: 0.05);
        transition: transform 0.4s ease-in-out;
    }

    &__success {
        width: 100%;
        color: $primary;
        font-size: 1.4rem;
        line-height: 1;
        padding: 0.5rem;
        border: 1px solid $primary;
        border-radius: 6px;
        text-align: center;
        background-color: rgba($primary, $alpha: 0.05);
        transition: transform 0.4s ease-in-out;
    }

    &__group:not(:last-child) {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        position: relative;

        @include respond(tab-port) {
            margin-bottom: 0.2rem;
        }
    }

    &__input {
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 0;
        border: none;
        border-bottom: 1.5px solid $text-muted;
        width: 100%;
        display: block;
        transition: all 0.3s;

        & ~ i {
            transition: all 0.3s;
            color: $text-muted;
            font-size: 1.6rem;
            position: absolute;
            top: 1.5rem;
            right: 0;
        }

        &::placeholder {
            color: $text-muted;
            visibility: hidden;
        }

        &:focus {
            outline: none;
            border-bottom: 1.5px solid $primary !important;

            &::placeholder {
                color: $primary;
            }

            & ~ i {
                color: $primary !important;
                font-size: 1.6rem;
                position: absolute;
                top: 1.5rem;
                right: 0;
            }
        }
        &--invalid {
            border-bottom: 1.5px solid $danger;

            & ~ i {
                color: $danger;
                font-size: 1.6rem;
                position: absolute;
                top: 1.5rem;
                right: 0;
            }
        }
    }

    &__label {
        position: absolute;
        top: 1.2rem;
        left: 0;
        color: $text-muted;
        visibility: hidden;
        font-weight: 400;

        &::after {
            content: '*';
            color: $danger;
        }
    }

    &__input:placeholder-shown ~ &__label {
        visibility: visible;
    }

    &__input:focus ~ &__label {
        color: $primary;
    }
}
