//Text Colors
$text-dark: #3e495e;
$text-light: #fff;
$text-muted: #8495b7;

// Colors
$primary: #49abfe;
$secondary: #0f1a2f;
$warning: #f89a35;
$danger: #f44368;
$white: #fff;
$black: #000;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;
