@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: $text-dark;
}

.heading--secondary {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.paragraph--large {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}
