.login {
    &-page {
        background-image: url(../assets/background.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        position: relative;
    }

    &-container {
        width: 70%;
        background: rgba($secondary, 0.8);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & .col-1-of-2 {
        }
    }

    &-content {
        color: $text-light;
        padding: 8rem;
    }

    &-text {
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }
}

.blue-line {
    width: 4rem;
    height: 0;
    display: inline-block;
    border-bottom: 2px solid $primary;
    margin: 2rem 0;
}

.form-container {
    transition: all 4s linear;
    min-height: calc(100% + 4rem);
    width: calc(50% - 4rem);
    background-color: white;
    position: absolute;
    transition: all 2s;
    top: -2rem;
    left: 2rem;

    &-sign-up {
        left: calc(50% + 2rem);
    }
}
